<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="StartupServices" type="Configurator.CustomSection.StartupServicesConfigSection, Configurator"/>
  </configSections>
  <StartupServices>
    <IdGenerator type="IdGenerator.FibonacciIdGenerator, IdGenerator" />
    <Loader type="UserStorage.Loaders.UserXmlLoader, UserStorage" />
    <Logger type="UserStorage.Services.LogService, UserStorage" />
    <Sender type="UserStorage.Network.Sender, UserStorage" />
    <Receiver type="UserStorage.Network.Receiver, UserStorage" />
    <Validators>
      <Validator type="UserStorage.Validators.NameValidator, UserStorage" />
    </Validators>
    <Services>
      <Service isMaster="true" serviceType="UserStorage.Services.MasterService, UserStorage" ipAddress="127.0.0.1" port="1080" hostAddress="http://localhost:8080/master" />
      <Service serviceType="UserStorage.Services.SlaveService, UserStorage" ipAddress="127.0.0.1" port="1081" hostAddress="http://localhost:8080/slave1" />
      <Service serviceType="UserStorage.Services.SlaveService, UserStorage" ipAddress="127.0.0.1" port="1082" hostAddress="http://localhost:8080/slave2" />
    </Services>
  </StartupServices>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="fileName" value="userBase.xml" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="Source"
              switchName="SourceSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="configConsoleListener"
               type="System.Diagnostics.ConsoleTraceListener"
               traceOutputOptions="ThreadId"/>
          <add name="textwriterListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="logging/log.txt"
               traceOutputOptions="ThreadId, DateTime"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Switch" value="1"/>
      <add name="SourceSwitch" value="Information"/>
    </switches>
  </system.diagnostics>

</configuration>